ingress:
  enabled: true
  className: "nginx"
  hosts:
    - host: naavre-dev.minikube.test
      paths:
        - path: /NaaVRE-catalogue-service/
          pathType: Prefix

conf:
  base_path: /NaaVRE-catalogue-service
  oidc_configuration_url: "https://<keycloak-host>/<keycloak-base-path>/realms/<realm>/.well-known/openid-configuration"
  django:
    secret_key: 'a-random-string'
  s3:
    endpoint_url: "https://example.com:9000"
    bucket_name: "bucket-name"
    access_key: "an-access-key"
    secret_key: "a-secret-key"

global:
  postgresql:
    auth:
      password: "a-random-password"
