apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: {{ include "naavre-catalogue-service.fullname" . }}
  labels:
    {{- include "naavre-catalogue-service.labels" . | nindent 4 }}
data:
  DJANGO_SUPERUSER_PASSWORD: "{{ .Values.conf.django.superuser_password | default "" | b64enc }}"
  SECRET_KEY: "{{ .Values.conf.django.secret_key | default "" | b64enc }}"
  DB_PASSWORD: "{{ .Values.global.postgresql.auth.password | default "" | b64enc }}"
  S3_ACCESS_KEY: "{{ .Values.conf.s3.access_key | default "" | b64enc }}"
  S3_SECRET_KEY: "{{ .Values.conf.s3.secret_key | default "" | b64enc }}"
