name: Lint

on:
  workflow_call:

jobs:
  lint:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
    steps:
      - uses: actions/checkout@v6

      - name: Set up Python and install dependencies from requirements.txt
        uses: actions/setup-python@v6
        with:
          python-version: '3.12'

      - name: flake8 Lint
        uses: py-actions/flake8@v2